In [9]:
# Dependencies
import requests
import json
import pandas as pd
# Google developer API key
from config import gkey

In [10]:
#pd.read_excel?

In [12]:
y_loc = pd.read_excel('round-3b.xlsx', sheet_name='Sheet2')
y_loc.head()

,Column1,ship_to_name,ship_to_full_address,key,Updated name,record_count
0,2,PHILA YMCA WOMENS OPPORTUNITY CNTR,8008 RTE 130 N DELRAN NJ 08075,"8008 Rte 130N, Building A Suite 216 Delran, NJ...",NaN,12
1,8,New Braunfels YMCA,"545 Creekside Xing Suite 145, New Braunfels TX...",New Braunfels Family YMCA 545 Creekside Crossi...,NaN,5
2,10,ACCOUNTING,435 S HYCLIFF DR APT 628A WATERTOWN NY 13601,"Watertown Family YMCA 119 Washington St, Water...",NaN,5
3,11,GATEWAY YMCA ...,3390 PERSHALL RD SAINT LOUIS MO 63135-1407,"Emerson Family YMCA 3390 Pershall Rd, St. Loui...",NaN,5
4,19,YMCA Fox Cities,"5414 Plugger Rd., Schiocton, WI 54170","N5414 Pluger Rd Shiocton, WI 54170",YMCA of the Fox Cities - Camp Shioc,3

In [13]:
#y_loc = pd.DataFrame([{'ship_to_full_address':'N5414 Pluger Rd Shiocton, WI 54170'}])
#y_loc

In [14]:
for k,v in y_loc.iterrows():
    try:
        ymca_name = v['key']

        target_search = ymca_name

        params = {
            "key": gkey,
            "input": target_search,
            "inputtype": 'textquery'
        }

        base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
        response = requests.get(base_url, params=params)
        places_data = response.json()    
        placeid = places_data['candidates'][0]['place_id']

        ## look up placeid
        params = {
            "key": gkey,
            "placeid": placeid,
        }

        #base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        base_url = "https://maps.googleapis.com/maps/api/place/details/json"

        # run a request using our params dictionary
        response = requests.get(base_url, params=params)

        # convert response to json
        places_data = response.json()
        #print(json.dumps(places_data, indent=4))

        place_name = places_data['result']['name']
        place_address = places_data['result']['formatted_address'] # places_data['result']['vicinity']
        formatted_address = places_data['result']['formatted_address']
        place_id = placeid
        lat = places_data['result']['geometry']['location']['lat']
        lng = places_data['result']['geometry']['location']['lng']
        
        y_loc.loc[k,'name'] = place_name
        y_loc.loc[k,'address'] = place_address
        y_loc.loc[k,'full_address'] = formatted_address
        y_loc.loc[k,'placeid'] = placeid
        y_loc.loc[k,'lat'] = lat
        y_loc.loc[k,'lng'] = lng
    
        print(k)
    except Exception as e:
        print(e)
        print(places_data)
        pass

0
1
2
3
4
5
6
7
8
9
10

In [15]:
y_loc

,Column1,ship_to_name,ship_to_full_address,key,Updated name,record_count,name,address,full_address,placeid,lat,lng
0,2,PHILA YMCA WOMENS OPPORTUNITY CNTR,8008 RTE 130 N DELRAN NJ 08075,"8008 Rte 130N, Building A Suite 216 Delran, NJ...",NaN,12,Planned Parenthood - Delran Health Center,"8008 Route 130N Building B, Suite 305, Delran,...","8008 Route 130N Building B, Suite 305, Delran,...",ChIJR9ojW3RMwYkR3fCCLxKC9Y0,40.023273,-74.937591
1,8,New Braunfels YMCA,"545 Creekside Xing Suite 145, New Braunfels TX...",New Braunfels Family YMCA 545 Creekside Crossi...,NaN,5,New Braunfels Family YMCA,"545 Creekside Crossing, New Braunfels, TX 7813...","545 Creekside Crossing, New Braunfels, TX 7813...",ChIJWdEq56CbXIYR2oEQE431fms,29.720924,-98.071267
2,10,ACCOUNTING,435 S HYCLIFF DR APT 628A WATERTOWN NY 13601,"Watertown Family YMCA 119 Washington St, Water...",NaN,5,Watertown Family YMCA,"119 Washington St, Watertown, NY 13601, USA","119 Washington St, Watertown, NY 13601, USA",ChIJnWQDMP1v2IkRD53gi-OLyYM,43.974324,-75.910492
3,11,GATEWAY YMCA ...,3390 PERSHALL RD SAINT LOUIS MO 63135-1407,"Emerson Family YMCA 3390 Pershall Rd, St. Loui...",NaN,5,Emerson Family YMCA,"3390 Pershall Rd, St. Louis, MO 63135, USA","3390 Pershall Rd, St. Louis, MO 63135, USA",ChIJq8EDYshJ34cRjAEF3xf4Eko,38.769117,-90.282817
4,19,YMCA Fox Cities,"5414 Plugger Rd., Schiocton, WI 54170","N5414 Pluger Rd Shiocton, WI 54170",YMCA of the Fox Cities - Camp Shioc,3,N5414 Pluger Rd,"N5414 Pluger Rd, Shiocton, WI 54170, USA","N5414 Pluger Rd, Shiocton, WI 54170, USA",ChIJw78aWng0AogRxgbtd4TCqQQ,44.435354,-88.554761
5,20,KETTLE MORAINE YMCA,321 N MAIN ST STE 100 WEST BEND WI 53095,"321 N Main St West Bend, WI 53095",Kettle Moraine YMCA - Association Office,3,321 N Main St,"321 N Main St, West Bend, WI 53095, USA","321 N Main St, West Bend, WI 53095, USA",ChIJYbKUC3RfBIgRqc_Q0PL9kzA,43.426249,-88.183783
6,21,GREAT MIAMI VALLEY YMCA,105 N 2ND ST FL 2 HAMILTON OH 45011,"Hamilton Central YMCA 105 N 2nd St Hamilton, OH",Hamilton Central YMCA,3,Hamilton Central YMCA,"105 N 2nd St, Hamilton, OH 45011, USA","105 N 2nd St, Hamilton, OH 45011, USA",ChIJM9QLfVVGQIgRPy52TWAmVas,39.400819,-84.561855
7,26,RACINE YMCA LAKEFRONT Y BRANCH,141 N MAIN ST RACINE WI 53403,"141 N. Main Street Racine, WI 53403",RIVERSIDE BRANCH,3,YMCA Riverside Branch 141 Main St Suite 5 Raci...,"141 Main St, Racine, WI 53403, USA","141 Main St, Racine, WI 53403, USA",ChIJzx8z_KtDBYgRLSnvlHUcFFI,42.731918,-87.783184
8,33,YMCA of Greater Houston,"8602 S Mason, Katy, TX 77450",YMCA of Greater Houston 2600 N Loop W Fwy #300...,NaN,1,YMCA of Greater Houston,"2600 N Loop W Fwy #300, Houston, TX 77092, USA","2600 N Loop W Fwy #300, Houston, TX 77092, USA",ChIJPXJQXvrGQIYRYxT79xg-hgU,29.807367,-95.445577
9,36,YMCA OF GREATER RICHMOND ...,3201 WATTS LN RICHMOND VA 23223-2183,Frank J. Thornton YMCA Aquatic Center 3201 Wat...,NaN,1,Frank J. Thornton YMCA Aquatic Center,"3201 Watts Ln, Richmond, VA 23223, USA","3201 Watts Ln, Richmond, VA 23223, USA",ChIJH61q5bsXsYkR_MPsu6EDQIw,37.564695,-77.380433
10,38,YMCA OF GREATER TULSA- METRO BRANCH,420 S MAIN STE 200 TULSA OK 74103,"420 S Main St #200, Tulsa, OK",YMCA of Greater Tulsa - Association Office,1,420 S Main St #200,"420 S Main St #200, Tulsa, OK 74103, USA","420 S Main St #200, Tulsa, OK 74103, USA",Eig0MjAgUyBNYWluIFN0ICMyMDAsIFR1bHNhLCBPSyA3ND...,36.151563,-95.990527

In [16]:
y_loc.to_excel('third-round-resultsb.xlsx')

In [ ]:
# x x x x x stop here x x x x

In [ ]:
len(y_loc)

In [ ]:
ofc_list.to_sql('stg_member_list_w_join_date', con=cxn)

In [ ]:
mem_list = pd.read_excel('YPG-Official-Member-List.xlsx')

mem_list['name'] = None
mem_list['address'] = None
mem_list['placeid'] = None

mem_list.head()

In [ ]:
for k,v in mem_list.iterrows():
    try:
        ymca_name = v['Official Name']

        target_search = ymca_name

        params = {
            "key": gkey,
            "input": target_search,
            "inputtype": 'textquery'
        }

        base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
        response = requests.get(base_url, params=params)
        places_data = response.json()    
        placeid = places_data['candidates'][0]['place_id']

        ## look up placeid
        params = {
            "key": gkey,
            "placeid": placeid,
        }

        #base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        base_url = "https://maps.googleapis.com/maps/api/place/details/json"

        # run a request using our params dictionary
        response = requests.get(base_url, params=params)

        # convert response to json
        places_data = response.json()

        place_name = places_data['result']['name']
        place_address = places_data['result']['vicinity']
        place_id = placeid
        
        mem_list.loc[k,'name'] = place_name
        mem_list.loc[k,'address'] = place_address
        mem_list.loc[k,'placeid'] = placeid
    
        print(k)
    except Exception as e:
        print(e)
        pass

In [ ]:

mem_list.to_excel('YPG-Official-Member-List-GEOCODED-Data-Updates.xlsx')

# READING IN GEOCODED DATA

In [ ]:
#y_loc = pd.read_excel('geocoded_ymca.xlsx')
y_loc = pd.read_excel('geocoded_ymca_w_master.xlsx')
mem_list = pd.read_excel('YPG-Official-Member-List-GEOCODED.xlsx')

In [ ]:
import os
import re
import pandas as pd
from datetime import datetime
from config import db_host, db_name, db_user, db_pwd
import pyodbc
import pymysql
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()

In [ ]:

engine = create_engine(f"mysql://{db_user}:{db_pwd}@{db_host}/{db_name}")
cxn = engine.connect()

In [ ]:
y_loc.to_sql('stg_invoice_detail_new_addresses_20200727', cxn)

In [ ]:
mem_list.to_sql('temp_y_master', cxn)

In [ ]:
stg_inv_detail = pd.read_sql('stg_invoice_detail', cxn)

In [ ]:
len(stg_inv_detail)

In [ ]:
y_loc.columns

In [ ]:
#y_loc = y_loc[['Ship to Name', 'YMCA', 'name', 'address', 'placeid']]
stg_inv_detail_df = pd.merge(stg_inv_detail, y_loc, left_on='ship_to_name', right_on='ship_to_name', how='left')

In [ ]:
len(stg_inv_detail_df)

In [ ]:
stg_inv_detail_df = stg_inv_detail_df.drop_duplicates(keep='first')

In [ ]:
len(stg_inv_detail_df)

In [ ]:
stg_inv_detail_df.head()

In [ ]:
stg_inv_detail_df.to_excel('stg_invoice_detail_w_master.xlsx')

In [ ]:
stg_inv_detail_df.to_sql('stg_invoice_detail_w_master', cxn)

In [ ]:
#mem_list = mem_list[['Date Joined', 'YPG PM', 'name', 'address', 'placeid']]
#mem_list = mem_list.drop(mem_list.loc[mem_list['name'] == "Nan's Family Daycare"].index)
#master_merge = pd.merge(foo2, mem_list, left_on='ymca_placeid', right_on='placeid', how='left')

In [ ]:
stg_invoice_detail_new_df.columns

In [ ]:
stg_invoice_detail_new_df = pd.read_sql('stg_invoice_detail_new', cxn)

In [ ]:
len(merged_addr)

In [ ]:
stg_invoice_detail_new_addresses_df = pd.read_sql('stg_invoice_detail_new_addresses_20200728', cxn)

In [ ]:
merged_addr = pd.merge(stg_invoice_detail_new_df, stg_invoice_detail_new_addresses_df, on='ship_to_full_address', how='left').drop_duplicates()

In [ ]:
merged_addr

In [ ]:
stg_invoice_detail_new_df['index'].value_counts()

In [ ]:
stg_invoice_detail_new_df

In [ ]:
merged_addr.drop_duplicates(inplace=True)

In [ ]:
len(merged_w_loc)
#414889

In [ ]:
merged_addr.to_excel('merged_addr_20200728.xlsx')

In [ ]:
official_list = pd.read_sql('geocoded_official_member_list_20200727', cxn)

In [ ]:
official_list.drop_duplicates(inplace=True)

In [ ]:
merged_w_loc = pd.merge(merged_addr, ofc_list, on='full_address', how='left')

In [ ]:
official_list.to_excel('ofc-list.xlsx')

In [ ]:
ofc_list = pd.read_excel('ofc-list.xlsx')

In [ ]:
merged_w_loc.to_excel('merged_w_loc_20200728.xlsx')

In [ ]:
merged_loc_w_geo = pd.read_excel('merged_w_loc_20200728.xlsx')

In [ ]:
merged_loc_w_geo.to_sql('stg_invoice_detail_geo', cxn)

In [ ]:
414889